.page-container {
    height: 100vh;
    width: 100vw;
    display: grid;

    // Define columns and sizes of each
    grid-template-columns: 1fr 3fr;
    // Define rows and sizes of each
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
        'header header '
        'menu main'
        'menu footer';

    // OR

    // grid-template-areas:
    // 'header header header header header'
    // 'menu main main main main'
    // 'menu main main main main'
    // 'menu main main main main'
    // 'menu main main main main'
    // 'menu main main main main'
    // 'menu main main main main'
    // 'menu footer footer footer footer';
}

.grid1 {
    grid-area: header;
    background-color: lightblue;
}

.grid2 {
    grid-area: menu;
    background-color: lightcoral;
}

.grid3 {
    grid-area: main;
    background-color: lightcyan;
    display: grid;
    grid-template-areas: 
    'one two three'
    'four four three';
    gap: 1rem;
    padding: 1rem;
}

.grid4 {
    grid-area: footer;
    background-color: lightsalmon;
}


.sub1 {
    grid-area: one;
    border: 1px solid lightgray;
    background-color: white;
}

.sub2 {
    grid-area: two;
    border: 1px solid lightgray;
    background-color: white;
}

.sub3 {
    grid-area: three;
    border: 1px solid lightgray;
    background-color: white;
}

.sub4 {
    grid-area: four;
    border: 1px solid lightgray;
    background-color: white;

}
