<div class="flex-container">

    <div class=box>
        <h3 class="header">Flex Values</h3>
        <div class="flex-container">
            <mat-form-field class="input-field-lg">
                <mat-label>Street Addr.</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>Apartment</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="flex-container">
            <mat-form-field class="input-field">
                <mat-label>City</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>State</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="input-field">
                <mat-label>Zipcode</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>



    <div class=box>
        <h3 class="header">Flex Grow / Flex Basis</h3>
        <div class="flex-grow">
            <mat-form-field class="flex-grow-1">
                <mat-label>field 1</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="flex-grow-2">
                <mat-label>field 2</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="flex-grow-1">
                <mat-label>field 3</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>

    <div class="big-box">
        <h3 class="header">Flex Direction</h3>
        <div class="flex-box">
            <div class="blue-box">1</div>
            <div class="blue-box">2</div>
            <div class="blue-box">3</div>
            <div class="blue-box">4</div>
            <div class="blue-box">5</div>
            <div class="blue-box">6</div>
            <div class="blue-box">7</div>
        </div>

    </div>
    
</div>