<div class="container">

    <div class="title">
        This is my beautiful title, and here is some really good content with it. Do you like what you see? 
    </div>
</div>

<div class="container">

    <div class="title-balance">
        This is my beautiful title, and here is some really good content with it. Do you like what you see? 
    </div>
</div>


<div class="container">

    <div class="title-letter">
        This is my beautiful title, and here is some really good content with it. Do you like what you see? 
    </div>
</div>