<div class="container">

    <ul>
        <li class="list-item">
            <mat-icon *ngIf="true" class="icon" fontIcon="local_pizza"></mat-icon>
            Pizza
        </li>
        <li class="list-item">
            <mat-icon *ngIf="false" class="icon" fontIcon="home"></mat-icon>
            Apple
        </li>
        <li class="list-item">Hamburger</li>
        <li class="list-item">Taco</li>
        <li class="list-item">
            <mat-icon *ngIf="true" class="icon" fontIcon="egg"></mat-icon>
            Egg
        </li>
    </ul>
</div>