<div class="page-container">
    <h1 class="header">CSS</h1>
    <h2 class="item-header">Our Tools</h2>
    <a class="item" routerLink="/grid">Display Grid</a>
    <a class="item" routerLink="/flex">Display Flex</a>
    <a class="item" routerLink="/relative">Position</a>
    <h2 class="item-header">What's New? (2023)</h2>
    <a class="item" routerLink="/container-query">Container Queries</a>
    <a class="item" routerLink="/has-query">Has Queries</a>
    <a class="item" routerLink="/popover">Popover</a>
    <h2 class="size-1">Animations!</h2>
    <a class="item animation-1" routerLink="/animation">Transition</a>
    <a class="item animation-2" routerLink="/keyframe">Keyframe</a>
</div>

