.page-container {
    margin: 2rem;

    .button {
        font-size: 10pt;
        // property name? | duration
        transition: .5s;
        &:hover {
            font-size: 12pt;
        }
    }

    .box {
        margin-top: 4rem;
        width: 5rem;
        height: 5rem;
        background-color: lightblue;
        margin-left: 0;
        // property name | duration | easing function | delay
        transition: .6s; // ease-in .4s;
        &:hover {
            width: 7rem;
            height: 7rem;
            background-color: lightcoral;
        }
    }

    .move {
        margin-left: 400px;
    }
}